@{
    ViewBag.Title = "鸟人博客";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<style>
    .panel {
        width: 300px;
        margin-right: 250px;
    }

    #hello {
        margin-left: 200px;
        width: 470px;
    }

        #hello > p {
            font-size:21px;
        }
</style>
<div>
    <div class="pull-left hidden-sm hidden-xs" id="hello">
        <h1>欢迎使用 Bird Man Blog。</h1>
        <p>联系你的好友和更多精彩。获取你感兴趣的实时更新。并通过每个视角观看事件实时呈现。</p>
    </div>
    <div class="pull-right" style="width:300px;">
        <div class="panel panel-default pull-right">
            <form id="loginForm" class="panel-body">
                <div class="form-group" style="width:100%">
                    <input name="UserName" type="text" placeholder="用户名" class="form-control input-bottom" />
                    <input id="log_paw" type="password" placeholder="密码" class="form-control input-bottom" />
                    <input id="paw" type="hidden" name="Password"/>
                    <button id="loginBtn" type="button" class="btn btn-primary pull-right">登录</button>
                    <span><input type="checkbox" /> 记住我</span>
                    <span><a href="/Other/FindPwd"> 忘记密码</a></span>
                </div>
            </form>
        </div>
        <div class="panel panel-default pull-right">
            <div class="panel-heading">
                <h3 class="panel-title">
                    没来过？注册一下更精彩
                </h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <input id="userName" type="text" placeholder="用户名" class="form-control input-bottom" />
                    <input id="email" type="email" placeholder="邮箱" class="form-control input-bottom" />
                    <input id="reg_Pwd" type="password" placeholder="密码" class="form-control input-bottom" />
                    <input type="hidden" value="" id="reg_Pwd_Hidden"/>
                    <button id="regBtn" type="button" class="btn btn-primary pull-right">注册鸟人博客</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#loginBtn').click(function () {
        $.Submit("/Base/Login", "loginForm", "", "", "/Blog/Main", "/Login/index?login=f");
    });
</script>