@{
    ViewBag.Title = "BaseManage";
    Layout = "~/Views/Shared/_MainPage.cshtml";
}
@using BM.Models;
<style>
    /*重写pagination样式类的float和margin,增加padding*/
    .pagination {
        float: none !important;
        padding: 0;
        margin: 0;
    }
    /*重写table样式类的margin-bottom*/
    .table {
        margin-bottom: 10px;
    }
    /*重写alert样式类的padding、margin-bottom*/
    .alert {
        padding: 7px;
        margin-bottom: 0px;
        margin-left: 10px;
    }

    [data-name="pageTool"] {
        cursor: pointer;
    }

    .disable {
        cursor: not-allowed;
    }

        .disable > a {
            color: #808080;
            text-decoration: none;
        }

    .input_error {
        border-color: red;
    }

    tr:nth-child(2n) {
        background-color: rgba(243, 243, 243, 1);
    }
</style>
<div class="row">
    <div class="col-sm-6">
        <section class="panel">
            <header class="panel-heading">
                博客类型
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                    <a href="javascript:;" class="fa fa-times"></a>
                </span>
            </header>
            <div class="panel-body">
                <div data-name="table-tool">
                    <button class="btn btn-primary  pull-left" id="btn-type-add"><i class="fa fa-plus" style="color:rgba(109, 196, 162, 1);"></i>&nbsp;<span>新增</span></button>
                    <div id="Type-alert" class="alert alert-danger pull-left" role="alert" style="display:none">页面存在未提交项</div>
                    <input type="hidden" id="typepage" value='@ViewData["TypePage"]' />
                    <input type="hidden" id="typerow" value='@ViewData["Typerow"]'>
                </div>
                <form id="type-form">
                    <table class="table table-hover" id="tab-addType"></table>
                </form>
                <div data-name="pageTool">
                    <span data-name="typePage_u" class="prev pull-left disable"><a>← 上一页</a></span>
                    <span data-name="typePage_n" class="next pull-right"><a>下一页 → </a></span>
                </div>
            </div>
        </section>
    </div>
    <div class="col-sm-6">
        <section class="panel">
            <header class="panel-heading">
                用户组
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                    <a href="javascript:;" class="fa fa-times"></a>
                </span>
            </header>
            <div class="panel-body">
                <div data-name="table-tool">
                    <button class="btn btn-primary  pull-left" id="btn-userGroup-add"><i class="fa fa-plus" style="color:rgba(109, 196, 162, 1);"></i>&nbsp;<span>新增</span></button>
                    <div id="userGroup-alert" class="alert alert-danger pull-left" role="alert" style="display:none">页面存在未提交项</div>
                    <input type="hidden" id="userGrouppage" value='@ViewData["userGroupPage"]' />
                    <input type="hidden" id="userGrouprow" value="@ViewData["Grouprow"]">
                </div>
                <form id="userGroup-form">
                    <table class="table table-striped" id="tab-userGroup"></table>
                </form>
                <div data-name="pageTool">
                    <span data-name="userGroupPage_u" class="prev pull-left disable"><a>← 上一页</a></span>
                    <span data-name="userGroupPage_n" class="next pull-right"><a>下一页 → </a></span>
                </div>
            </div>
        </section>
    </div>
</div>
<script>
    //博客类型json
    var columnsJsonType = {
        promptBox: 'Type-alert',//提示框ID
        Btn: 'TypeSave-btn',//定义保存按钮的ID
        SaveUrl: '/Main/BlogTypeSave',//保存URL
        EditUrl: '/Main/EditBlogType',//修改保存URL
        DeleteUrl: '/Main/DeleteBlogType',//删除URL
        refurbishUrl: '/Main/GetBlogType',//刷新表格URL（增删改后刷新使用）
        PostForm: 'type-form',//提交数据的FormID
        pageCount: $('#typepage').val(),//总页数
        pageRowCount: 5,//每页显示行数，默认为10
        table: 'tab-addType',//table ID
        page: 'type',//翻页标签前缀
        columns: [
            {
                columnType: 'identifier',//编号列
                columnSYS: 'true',//是否系统生成列
                width: '20%'//列宽
            },
            {
                field: 'Type',//绑定字段
                columnsName: '类型',//显示名称
                inputType: 'text',//文本框类型
                update: 'true',//是否可修改
                width: '40%'
            },
            {
                field: 'Count',
                columnsName: '数量',
                width: '20%'
            },
            {
                columnType: 'operate',//操作列
                columnSYS: 'true',
                operate: 'S',//删改操作类型S：保存，D：删除，SD：删除/保存
                width: '20%'
            }
        ]
    };
    //用户组
    var columnsJsonUserGroup = {
        promptBox: 'userGroup-alert',//提示框ID
        Btn: 'userGroupSave-btn',//定义保存按钮的ID
        SaveUrl: '/Main/UserGroupSave',//保存URL
        EditUrl: '/Main/EditUserGroup',//修改保存URL
        DeleteUrl: '/Main/DeleteUserGroup',//删除URL
        refurbishUrl: '/Main/GetUserGroup',//刷新表格URL（增删改后刷新使用）
        PostForm: 'userGroup-form',//提交数据的FormID
        pageCount: $('#userGrouppage').val(),//总页数
        pageRowCount: 5,//每页显示行数，默认为10
        table: 'tab-userGroup ',//table ID
        page: 'userGroup',
        columns: [
            {
                columnType: 'identifier',//编号列
                columnSYS: 'true',//是否系统生成列
                width: '15%'//列宽
            },
            {
                field: 'GroupName',//绑定字段
                columnsName: '类型',//显示名称
                inputType: 'text',//文本框类型
                update: 'true',//是否可修改
                width: '40%'
            },
            {
                field: 'isDelete',
                columnsName: '禁用',
                update: 'fasle',
                width: '10%'
            },
            {
                field: 'Count',
                columnsName: '数量',
                width: '15%'
            },
            {
                columnType: 'operate',//操作列
                columnSYS: 'true',
                operate: 'S',//删改操作类型S：保存，D：删除，SD：删除/保存
                width: '20%'
            }
        ]
    };
    $(function () {
        nextPage("", columnsJsonType, '/Main/GetBlogType', 1);
        $('#btn-type-add').click(function () {
            addInput(columnsJsonType);
        });
        $('#btn-userGroup-add').click(function () {
            addInput(columnsJsonUserGroup);
        })
        var groupP = 0;
        nextPage("", columnsJsonUserGroup, '/Main/GetUserGroup', 1);
    });
</script>
<script src="~/Scripts/PublicJS.js"></script>