@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainPage.cshtml";
}
<div class="row states-info">
    <div class="col-md-3">
        <div class="panel red-bg">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-book"></i>
                    </div>
                    <div class="col-xs-8">
                        <span class="state-title">截止到目前今日呼文</span>
                        <h4>2569篇</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel blue-bg">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="col-xs-8">
                        <span class="state-title">截止到目前注册用户</span>
                        <h4>2980人</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel green-bg">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-eye"></i>
                    </div>
                    <div class="col-xs-8">
                        <span class="state-title">截止到目前访问量</span>
                        <h4>886785人次</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel yellow-bg">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-gavel "></i>
                    </div>
                    <div class="col-xs-8">
                        <span class="state-title">当前需审核呼文</span>
                        <h4>10篇</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
