@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_Center.cshtml";
}
<style>
    .MainLeft {
        border-radius: 5px;
        width: 280px;
        position: fixed;
        top: 75px;
    }

    .MainLeft_bottom {
        height: 100px;
        background-color: #ffffff;
    }

    .MainLeft_top, .MainLeft_bottom {
        height: 100px;
    }

    .MainPhoto {
        width: 75px;
        height: 75px;
        background-color: rgba(0, 131, 179, 1);
        position: absolute;
        border-radius: 5px;
        border: 2px solid #ffffff;
        top: 58px;
        left: 25px;
        text-align: center;
    }

        .MainPhoto > span {
            font-size: 40px;
            color: #ffffff;
            line-height: 73px;
            padding-left: 0px;
            top: 0;
        }

    .MainInfor {
        font-size: 12px;
        width: 100%;
        color: #808080;
        text-align: center;
        margin-top: 20px;
    }

        .MainInfor > div {
            width: 33.3333333%;
        }

            .MainInfor > div > a {
                font-size: 18px;
            }

    .MainLink {
        font-size: 18px;
        font-weight: 700;
        color: #000000;
        margin-left: 110px;
    }

    .MainContenLink {
        font-size: 14px;
        font-weight: 700;
        margin-left: 5px;
    }

    .MainLink:hover, .MainLink:focus {
        color: #000000;
    }

    .MainCenter {
        width: 539px;
        background-color: #ffffff;
        border-radius: 5px;
        margin-left: 285px;
        margin-right: 5px;
    }

    .MainNews {
        background-color: rgba(228, 241, 246, 1);
        padding: 5px 0 5px 0;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        width: 100%;
        height: auto;
        overflow: auto;
    }

    #newsTexttarea {
        margin-top: -5px;
    }

    .Icon {
        color: rgba(0, 130, 178, 1);
        font-size: 20px;
        margin-top: 16px;
        margin-left: 5px;
        background-color: rgba(228, 241, 246, 1);
    }

    [data-id="logo"] {
        width: 48px;
        height: 48px;
    }

    .MainContent {
        margin-top: 10px;
    }

        .MainContent > .pull-left {
            margin-left: 10px;
        }

    .MainContentTag {
        width: 100%;
        display: inline-block;
        margin-left: 10px;
        margin-top: 5px;
        color: rgba(127, 127, 127, 1);
    }

        .MainContentTag > span {
            text-align: center;
            margin-bottom: 20px;
            margin-left: 20px;
            cursor: pointer;
        }

    .MainRight {
        width: 280px;
        background-color: #ffffff;
        border-radius: 5px;
        position: fixed;
        margin-left: 830px;
    }

        .MainRight > div {
            margin-left: 10px;
        }

    .MainRightTitle {
        color: #66757f;
        font-size: 18px;
        margin-top: 15px;
        display: block;
        margin-bottom: 5px;
    }

    .MainRightTag {
        width: 100%;
        display: inline-block;
        margin-top: 15px;
        margin-bottom: 15px;
    }

        .MainRightTag > a {
            margin-left: 10px;
        }

    .MainLg {
        font-size: 16px;
        color: #808080;
    }

    .MainCenter, .MainRight {
        margin-top: 54px;
    }

    div[name="comments"] {
        padding-right: 10px;
        padding-left: 10px;
    }
</style>
<div class="Main">
    <div class="MainLeft pull-left">
        <div style="background-color: rgba(0, 131, 179, 1);border-radius: 5px;">
            <div class="MainLeft_top">
            </div>
            <div class="MainLeft_bottom">
                <a href="#" class="MainLink">朱刚</a>
                <div class="MainInfor">
                    <div class="pull-left">
                        <span>鸟文</span>
                        <br />
                        <a href="#">@ViewData["Count"]</a>
                    </div>
                    <div class="pull-left">
                        <span>关注</span>
                        <br />
                        <a href="#">21</a>
                    </div>
                    <div class="pull-left">
                        <span>被关注</span>
                        <br />
                        <a href="#">1</a>
                    </div>
                </div>
            </div>
            <div class="MainPhoto">
                <span class="glyphicon glyphicon-camera"></span>
            </div>
        </div>
    </div>
    <div class="MainCenter pull-left">
        <form id="FormEssay" class="MainNews">
            <div>
                <textarea name="C_Content" id="newsTexttarea" style="height:100px;width:539px; " placeholder="新鲜事" class="form-control"></textarea>
            </div>
            <div>
                <div class="alert alert-warning" style="display:none" id="AlertEssay" role="alert"><span style="color:rgba(0, 131, 179, 1)" class="glyphicon glyphicon-question-sign"></span>  不想说点什么吗？</div>
            </div>
            <div>
                <a href="#">
                    <span class="glyphicon glyphicon-camera Icon"></span>
                </a>
                <a href="#">
                    <span class="glyphicon glyphicon-screenshot Icon"></span>
                </a>
                <button type="button" id="BtnEssay" class="btn btn-primary pull-right" style="margin-right:10px;">发布</button>
            </div>
        </form>
        <div id="contentMain" class="MainContent">
            @{ List<BM.Models.main_getEssay_Result> essayList = ViewData["Essay"] as List<BM.Models.main_getEssay_Result>;}
            @for (int i = 0; i < essayList.Count; i++)
            {
                <div style="margin-left:5px;">
                    <div style="width:100%;display:inline-block">
                        <div class="pull-left">
                            <img data-id="logo" src="@essayList[i].Img" />
                        </div>
                        <div class="pull-left">
                            <div>
                                <div>
                                    <a href="#" class="MainContenLink">@essayList[i].UserName</a>
                                    <span style="color:#808080">ID：NaN</span>
                                    <span style="color:#808080">1小时</span>
                                </div>
                                <div>
                                    <span>
                                        @essayList[i].C_Content
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="MainContentTag">
                        <span class="glyphicon glyphicon-share-alt"></span>
                        <span class="glyphicon glyphicon-edit"></span><label style="margin-left:5px;">4</label>
                        <span class="glyphicon glyphicon-thumbs-up"></span><label style="margin-left:5px;">12</label>
                        <span class="glyphicon glyphicon-star"></span>
                    </div>
                    <div>
                        <div name="comments">
                            <textarea class="form-control" placeholder="写入你的评论"></textarea>
                        </div>
                        <div>
                            <a href="#">
                                <span class="glyphicon glyphicon-camera Icon"></span>
                            </a>
                            <button class="btn btn-primary pull-right" style="margin-right:10px;">发布</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="MainRight pull-left">
        <div>
            <div style="margin-left:10px;margin-top:5px;">
                <span class="MainRightTitle">推荐关注</span>
            </div>
            <div style="width:100%">
                <div style="margin-bottom:5px" class="pull-left">
                    <div class="pull-left">
                        <img data-id="logo" src="~/Img/testLogo.png" />
                    </div>
                    <div class="pull-left">
                        <div>
                            <div>
                                <a href="#" class="MainContenLink">朱刚</a>
                                <span style="color:#808080">ID：4943241920</span>
                            </div>
                            <div>
                                <span>
                                    <button class="btn btn-default btn-sm" type="button">关注</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pull-left" style="margin-bottom:5px">
                    <div class="pull-left">
                        <img data-id="logo" src="~/Img/testLogo.png" />
                    </div>
                    <div class="pull-left">
                        <div>
                            <div>
                                <a href="#" class="MainContenLink">朱刚</a>
                                <span style="color:#808080">ID：4943241920</span>
                            </div>
                            <div>
                                <span>
                                    <button class="btn btn-default btn-sm" type="button">关注</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pull-left" style="margin-bottom:5px">
                    <div class="pull-left">
                        <img data-id="logo" src="~/Img/testLogo.png" />
                    </div>
                    <div class="pull-left">
                        <div>
                            <div>
                                <a href="#" class="MainContenLink">朱刚</a>
                                <span style="color:#808080">ID：4943241920</span>
                            </div>
                            <div>
                                <span>
                                    <button class="btn btn-default btn-sm" type="button">关注</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="MainRightTag">
                <a href="#">刷新</a><a href="#">查看全部</a>.<a href="#">热门</a><a href="#">查找</a>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        var r = 10;
        $.MouseRolling(
            "/Blog/MainData",
            "contentMain",
            [
                {
                    "name": "page",
                    "pageData": {
                        "row": r
                    }
                }
            ]);
        $('#BtnEssay').click(function () {
            var i;
            var content = $("#newsTexttarea").val();
            if (content == "" || content == undefined || content == null) {
                $('#AlertEssay').show("slow", function () {
                    i = setInterval(function () {
                        $('#AlertEssay').hide("slow");
                    }, 5000);
                });
            }
            else {
                $.Submit("/Blog/Essay", "FormEssay", "", "", "", "");
                window.location = "/Blog/Main";
            }
            //运行一次
            clearInterval(i);
        });
    });
</script>