.RegPanel {
    width: 890px;
}

.RegDiv {
    padding-bottom: 15px;
}

.RegDiv {
    width: 100%;
}

input {
    max-width: none;
}

.small {
    font-weight: lighter;
    font-size: 18px;
    line-height: 25px;
    color: #aab8c2;
    margin-bottom: 36px;
    display: block;
}

[data-id='reg'] {
    padding-top: 59px;
    padding-bottom: 59px;
    margin-left: 100px;
    margin-right: 100px;
}

h1 {
    font-size: 48px;
    padding-bottom: 30px;
}

.input-block, .btn-block {
    width: 382px;
}
.remarks{
    margin-top:15px;
    display:block;
}