@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Center.cshtml";
}
<style>
    .badge {
        margin-top: 12px;
        background-color: #666699;
    }

    textarea {
        max-width: none;
    }

    #ss_input > textarea {
        height: 80px !important;
    }

    #log {
        margin-top: 60px;
    }

    img {
        width: 50px;
        height: 50px;
    }

    .HomeIndexFont {
        font-size: 12px;
        color: #808080;
    }

        .HomeIndexFont > span {
            float: left;
            display: block;
            margin-top: 13px;
        }

    .glyphicon {
        font-size: 16px;
    }

    #log_1_opetion {
        color: #666699;
    }

        #log_1_opetion > div {
            margin-left: 20px;
        }

    .panel-heading {
        padding-top: 4px;
    }

    .li {
        margin-top: 15px;
    }

</style>
<div class="container">
    <div class="row">
        <div id="_left" class="col-md-2 col-lg-2 hidden-xs hidden-sm box">
            <div id="dynamic" class="leftTip "><a href="javascript:void(0)"><span class="left">好友动态</span><span class="badge right">3</span></a></div>
            <div id="atMe" class="leftTip"><a href="javascript:void(0)"><span class="left">与我有关</span><span class="badge right">4</span></a></div>
            <div id="collection" class="leftTip"><a href="javascript:void(0)"><span class="left">我的收藏</span></a></div>
        </div>
        <div id="_center" class=" col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div id="ss">
                <div id="ss_input">
                    <textarea placeholder="快速发表你的状态" class="form-control input-lg"></textarea>
                </div>
                <div id="ss_submit" style="margin-top:5px;">
                    <button class="btn btn-purple pull-right" style="margin-left:5px;">发表</button>
                    <button type="button" class="btn btn-default dropdown-toggle pull-right" data-toggle="dropdown" aria-expanded="false">
                        查看权限 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li><a href="#">任何人</a></li>
                        <li><a href="#">仅好友</a></li>
                    </ul>
                </div>
            </div>
            <div id="log" class="box">
                <div id="log_1" role="log">
                    <div id="log_1_user" class="newLine">
                        <img class="pull-left" src="~/Img/testLogo.png" />
                        <div>
                            <div class="font-s">
                                小米科技
                            </div>
                            <div class="HomeIndexFont">
                                <span>12:30</span>
                                <span>浏览量：3</span>
                            </div>
                        </div>
                    </div>
                    <div id="log_1_content" class="lineHeight">
                        <span>
                            【数字尾巴：影像圈搅局者 小蚁运动相机轻体验 】数字尾巴#小蚁运动相机#轻体验：配件质量感觉不错，体积重量让人满意，399 元的售价成为了运动摄像机里搅局者。#小蚁运动相机#3月17日上午10点再度开卖，喜欢你就赞一个~ http://www.mi.com/yicamera/ .
                        </span>
                    </div>
                    <div id="log_1_opetion" class="lineHeight">
                        <div class="pull-left">
                            <i class="glyphicon glyphicon-thumbs-up"></i><span style="margin-left:5px;">赞(2899)</span>
                        </div>
                        <div class="pull-left">
                            <i class="glyphicon glyphicon-pencil"></i><span style="margin-left:5px;">评论(299)</span>
                        </div>
                        <div class="pull-left">
                            <i class="glyphicon glyphicon-share"></i><span style="margin-left:5px;">转发(20)</span>
                        </div>
                        <div class="pull-left">
                            <i class="glyphicon glyphicon-star"></i><span style="margin-left:5px;">收藏(1202)</span>
                        </div>
                        <div class="lineHeight" style="margin-left: 5px; margin-right:5px;">
                            <textarea class="form-control" placeholder="吐槽评论一下" style="margin-top: 10px;"></textarea>
                        </div>
                        <div class="lineHeight pull-right" style="margin-bottom:10px; margin-right:5px;">
                            <button type="button" class="btn btn-purple">发表</button>
                        </div>
                    </div>
                </div>
                <div id="log_1" role="log">
                    <div id="log_1_user" class="newLine">
                        <img class="pull-left" src="~/Img/testLogo.png" width="50" height="50" />
                        <div>
                            <div class="font-s">
                                小米科技
                            </div>
                            <div class="HomeIndexFont">
                                <span>12:30</span>
                                <span>浏览量：3</span>
                            </div>
                        </div>
                    </div>
                    <div id="log_1_content" class="lineHeight">
                        <span>
                            【数字尾巴：影像圈搅局者 小蚁运动相机轻体验 】数字尾巴#小蚁运动相机#轻体验：配件质量感觉不错，体积重量让人满意，399 元的售价成为了运动摄像机里搅局者。#小蚁运动相机#3月17日上午10点再度开卖，喜欢你就赞一个~ http://www.mi.com/yicamera/ .
                        </span>
                    </div>
                    <div id="log_1_opetion" class="lineHeight">
                        <div class="pull-left">
                            <i class="glyphicon glyphicon-thumbs-up"></i><span style="margin-left:5px;">赞(2899)</span>
                        </div>
                        <div class="pull-left">
                            <i class="glyphicon glyphicon-pencil"></i><span style="margin-left:5px;">评论(299)</span>
                        </div>
                        <div class="pull-left">
                            <i class="glyphicon glyphicon-share"></i><span style="margin-left:5px;">转发(20)</span>
                        </div>
                        <div class="pull-left">
                            <i class="glyphicon glyphicon-star"></i><span style="margin-left:5px;">收藏(1202)</span>
                        </div>
                        <div class="lineHeight" style="margin-left: 5px; margin-right:5px;">
                            <textarea class="form-control" placeholder="吐槽评论一下" style="margin-top: 10px;"></textarea>
                        </div>
                        <div class="lineHeight pull-right" style="margin-bottom:10px;margin-right:5px;">
                            <button type="button" class="btn btn-purple">发表</button>
                        </div>
                    </div>
                </div>
                <div id="log_1" role="log">
                    <div id="log_1_user" class="newLine">
                        <img class="pull-left" src="~/Img/testLogo.png" />
                        <div>
                            <div class="font-s">
                                小米科技
                            </div>
                            <div class="HomeIndexFont">
                                <span>12:30</span>
                                <span>浏览量：3</span>
                            </div>
                        </div>
                    </div>
                    <div id="log_1_content" class="lineHeight">
                        <span>
                            【数字尾巴：影像圈搅局者 小蚁运动相机轻体验 】数字尾巴#小蚁运动相机#轻体验：配件质量感觉不错，体积重量让人满意，399 元的售价成为了运动摄像机里搅局者。#小蚁运动相机#3月17日上午10点再度开卖，喜欢你就赞一个~ http://www.mi.com/yicamera/ .
                        </span>
                    </div>
                    <div id="log_1_opetion" class="lineHeight">
                        <div class="pull-left">
                            <i class="glyphicon glyphicon-thumbs-up"></i><span style="margin-left:5px;">赞(2899)</span>
                        </div>
                        <div class="pull-left">
                            <i class="glyphicon glyphicon-pencil"></i><span style="margin-left:5px;">评论(299)</span>
                        </div>
                        <div class="pull-left">
                            <i class="glyphicon glyphicon-share"></i><span style="margin-left:5px;">转发(20)</span>
                        </div>
                        <div class="pull-left">
                            <i class="glyphicon glyphicon-star"></i><span style="margin-left:5px;">收藏(1202)</span>
                        </div>
                        <div class="lineHeight" style="margin-left: 5px; margin-right:5px;">
                            <textarea class="form-control" placeholder="吐槽评论一下" style="margin-top: 10px;"></textarea>
                        </div>
                        <div class="lineHeight pull-right" style="margin-bottom:10px;margin-right:5px;">
                            <button type="button" class="btn btn-purple">发表</button>
                        </div>
                    </div>
                </div>
                <div id="log_1" role="log">
                    <div id="log_1_user" class="newLine">
                        <img class="pull-left" src="~/Img/testLogo.png" />
                        <div>
                            <div class="font-s">
                                小米科技
                            </div>
                            <div class="HomeIndexFont">
                                <span>12:30</span>
                                <span>浏览量：3</span>
                            </div>
                        </div>
                    </div>
                    <div id="log_1_content" class="lineHeight">
                        <span>
                            【数字尾巴：影像圈搅局者 小蚁运动相机轻体验 】数字尾巴#小蚁运动相机#轻体验：配件质量感觉不错，体积重量让人满意，399 元的售价成为了运动摄像机里搅局者。#小蚁运动相机#3月17日上午10点再度开卖，喜欢你就赞一个~ http://www.mi.com/yicamera/ .
                        </span>
                    </div>
                    <div id="log_1_opetion" class="lineHeight">
                        <div class="pull-left">
                            <i class="glyphicon glyphicon-thumbs-up"></i><span style="margin-left:5px;">赞(2899)</span>
                        </div>
                        <div class="pull-left">
                            <i class="glyphicon glyphicon-pencil"></i><span style="margin-left:5px;">评论(299)</span>
                        </div>
                        <div class="pull-left">
                            <i class="glyphicon glyphicon-share"></i><span style="margin-left:5px;">转发(20)</span>
                        </div>
                        <div class="pull-left">
                            <i class="glyphicon glyphicon-star"></i><span style="margin-left:5px;">收藏(1202)</span>
                        </div>
                        <div class="lineHeight" style="margin-left: 5px; margin-right:5px;">
                            <textarea class="form-control" placeholder="吐槽评论一下" style="margin-top: 10px;"></textarea>
                        </div>
                        <div class="lineHeight pull-right" style="margin-bottom:10px;margin-right:5px;">
                            <button type="button" class="btn btn-purple">发表</button>
                        </div>
                    </div>
                </div>
                <div id="log_1" role="log">
                    <div id="log_1_user" class="newLine">
                        <img class="pull-left" src="~/Img/testLogo.png" />
                        <div>
                            <div class="font-s">
                                小米科技
                            </div>
                            <div class="HomeIndexFont">
                                <span>12:30</span>
                                <span>浏览量：3</span>
                            </div>
                        </div>
                    </div>
                    <div id="log_1_content" class="lineHeight">
                        <span>
                            【数字尾巴：影像圈搅局者 小蚁运动相机轻体验 】数字尾巴#小蚁运动相机#轻体验：配件质量感觉不错，体积重量让人满意，399 元的售价成为了运动摄像机里搅局者。#小蚁运动相机#3月17日上午10点再度开卖，喜欢你就赞一个~ http://www.mi.com/yicamera/ .
                        </span>
                    </div>
                    <div id="log_1_opetion" class="lineHeight">
                        <div class="pull-left">
                            <i class="glyphicon glyphicon-thumbs-up"></i><span style="margin-left:5px;">赞(2899)</span>
                        </div>
                        <div class="pull-left">
                            <i class="glyphicon glyphicon-pencil"></i><span style="margin-left:5px;">评论(299)</span>
                        </div>
                        <div class="pull-left">
                            <i class="glyphicon glyphicon-share"></i><span style="margin-left:5px;">转发(20)</span>
                        </div>
                        <div class="pull-left">
                            <i class="glyphicon glyphicon-star"></i><span style="margin-left:5px;">收藏(1202)</span>
                        </div>
                        <div class="lineHeight" style="margin-left: 5px; margin-right:5px;">
                            <textarea class="form-control" placeholder="吐槽评论一下" style="margin-top: 10px;"></textarea>
                        </div>
                        <div class="lineHeight pull-right" style="margin-bottom:10px;margin-right:5px;">
                            <button type="button" class="btn btn-purple">发表</button>
                        </div>
                    </div>
                </div>
                <div id="log_1" role="log">
                    <div id="log_1_user" class="newLine">
                        <img class="pull-left" src="~/Img/testLogo.png" />
                        <div>
                            <div class="font-s">
                                小米科技
                            </div>
                            <div class="HomeIndexFont">
                                <span>12:30</span>
                                <span>浏览量：3</span>
                            </div>
                        </div>
                    </div>
                    <div id="log_1_content" class="lineHeight">
                        <span>
                            【数字尾巴：影像圈搅局者 小蚁运动相机轻体验 】数字尾巴#小蚁运动相机#轻体验：配件质量感觉不错，体积重量让人满意，399 元的售价成为了运动摄像机里搅局者。#小蚁运动相机#3月17日上午10点再度开卖，喜欢你就赞一个~ http://www.mi.com/yicamera/ .
                        </span>
                    </div>
                    <div id="log_1_opetion" class="lineHeight">
                        <div class="pull-left">
                            <i class="glyphicon glyphicon-thumbs-up"></i><span style="margin-left:5px;">赞(2899)</span>
                        </div>
                        <div class="pull-left">
                            <i class="glyphicon glyphicon-pencil"></i><span style="margin-left:5px;">评论(299)</span>
                        </div>
                        <div class="pull-left">
                            <i class="glyphicon glyphicon-share"></i><span style="margin-left:5px;">转发(20)</span>
                        </div>
                        <div class="pull-left">
                            <i class="glyphicon glyphicon-star"></i><span style="margin-left:5px;">收藏(1202)</span>
                        </div>
                        <div class="lineHeight" style="margin-left: 5px; margin-right:5px;">
                            <textarea class="form-control" placeholder="吐槽评论一下" style="margin-top: 10px;"></textarea>
                        </div>
                        <div class="lineHeight pull-right" style="margin-bottom:10px;margin-right:5px;">
                            <button type="button" class="btn btn-purple">发表</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="_right" class="col-md-2 col-lg-2 hidden-xs hidden-sm">
            <div id="borthday" class="box newLine" style="width:180px;">
                <div style="margin-left:10px;" class="font-b">
                    生日
                </div>
                <div class="hr">

                </div>
                <div>
                    <ul style="margin-left:-30px; margin-top:-10px;margin-right:5px;">
                        <li class="li">
                            <img class="pull-left" src="~/Img/testLogo.png" style="width:25px;height:25px;" />
                            <span class="font-ss">小米科技</span>
                            <a class="pull-right"><i class="glyphicon glyphicon-apple"></i>礼物</a>
                        </li>
                        <li class="li">
                            <img class="pull-left" src="~/Img/testLogo.png" style="width:25px;height:25px;" />
                            <span class="font-ss">小米科技</span>
                            <a class="pull-right"><i class="glyphicon glyphicon-apple"></i>礼物</a>
                        </li>
                        <li class="li">
                            <img class="pull-left" src="~/Img/testLogo.png" style="width:25px;height:25px;" />
                            <span class="font-ss">小米科技</span>
                            <a class="pull-right"><i class="glyphicon glyphicon-apple"></i>礼物</a>
                        </li>
                        <li class="li">
                            <img class="pull-left" src="~/Img/testLogo.png" style="width:25px;height:25px;" />
                            <span class="font-ss">小米科技</span>
                            <a class="pull-right"><i class="glyphicon glyphicon-apple"></i>礼物</a>
                        </li>
                        <li class="li">
                            <img class="pull-left" src="~/Img/testLogo.png" style="width:25px;height:25px;" />
                            <span class="font-ss">小米科技</span>
                            <a class="pull-right"><i class="glyphicon glyphicon-apple"></i>礼物</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
