
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">
    <title>登陆</title>
    <link href="~/Content/css/style.css" rel="stylesheet">
    <link href="~/Content/css/style-responsive.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="~/Scripts/js/html5shiv.js"></script>
    <script src="~/Scripts/js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="login-body">
    <div class="container">
        <form class="form-signin" action="/Login/Login" method="post">
            <div class="form-signin-heading text-center">
                <h1 class="sign-title">登 录</h1>
                <img src="~/images/login-logo.png" alt="" />
            </div>
            <div class="login-wrap">
                <input name="UserName" type="text" class="form-control" placeholder="用户名" autofocus>
                <input id="Password" type="password" class="form-control" placeholder="密码">
                <input name="Password" type="hidden" />
                <button class="btn btn-lg btn-login btn-block" type="submit">
                    <i class="fa fa-check"></i>
                </button>
                <label class="checkbox">
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
        </form>
    </div>
    <div aria-hidden="true" role="dialog" tabindex="-1" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">登陆失败</h4>
                </div>
                <div class="modal-body">
                    请确认您的登录名和密码是否正确！
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" onclick="$('.modal').modal('hide')">确定</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Placed js at the end of the document so the pages load faster -->
    <!-- Placed js at the end of the document so the pages load faster -->
    <script src="~/Scripts/js/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <script src="~/Scripts/js/modernizr.min.js"></script>
    <script src="~/Scripts/jQuery.md5.js"></script>>
</body>
</html>
<script>
    $(function () {
        $('#Password').keypress(function () {
            $('[name="Password"]').val($.md5($('#Password').val()));
        });
        if (getUrlParam("login") != null) {
            $('.modal').modal({
                show: true
            });
        }
    })
    function getUrlParam(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
        var r = window.location.search.substr(1).match(reg);  //匹配目标参数
        if (r != null) return unescape(r[2]); return null; //返回参数值
    }
</script>