
@{
    ViewBag.Title = "找回密码--邮箱验证";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div>
    <div class="panel panel-default RegPanel center-block">
        <div class="panel-body">
            <div data-id='reg'>
                <h1>
                    邮箱验证
                </h1>
                <span class="small">输入你的邮箱，你需要在下一步输入我们发送给你的验证码。</span>
                <div class="RegDiv">
                    <form id="regForm">
                        <input name="address" data-validate='true' type="email" class="form-control input-bottom input-block" data-bsvalidate="[{'name':'isNotNull'},{'name':'email'},{'name':'duplicate','message':'该邮箱尚未注册'}]" id="email" placeholder="邮箱"><span></span>
                        <button type="button" class="btn  btn-primary btn-block" onclick="Submit()">下一步</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $.Validate();
    });
    function Submit() {
        if ($.SubmitValidate()) {
            $.cookie("email", $('#email').val());
            $.Submit("/Base/SendEmail", "regForm", "", "", "/Other/Cord","");
        }
    }
</script>
